@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/fonts/Roboto.tff) format('tff');
  }
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #04001d;
  font-size: 15px;
  font: san;
}
